/* ---------------------------------------------
              @media screen only mobile devices
-----------------------------------------------*/
@media screen and (min-width:150px) and (max-width:766px){
    .secrect-button{
        display: none;
    }
/*-----------------
        header css
    -------------------- */
    .first{
        width: 100%;
        margin: 0 auto;
        background-color:#161616 ;
        align-items: center;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .first:hover{
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    } .first-blogs{
        padding-top: 2% ;
        padding-left: 8% ;
        padding-bottom: 2% ;
        width: 100%; 
        align-items: center;
        width: 80%;
    }
    .first .first-blog img{
        width: 100%;
        padding-top: 10px;
    }

    .first .first-blog h1{
        font-size: 35px;
        font-weight: 900;
        color: white;
        text-align: center;
        
    }
    .first .first-blog p{
        color: white; 
        font-size: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    .first-blog img{
        align-items: center;
    }
    /* ------------------
        Buttons
    ---------------------- */
    .first .first-blog .buttons{
        background-color: #DD0000;
        border-radius: 4px;
        padding: 10px 25px;
        border: none;
        font-size: 17px;
        margin: auto;
        align-items: center;
        display: block;
    }
   
    .first .first-blog .buttons a{
        text-decoration: none;
        color: white;
    }
    /* ------------------------------------------
            blog section started
    ---------------------------------------------- */
    .second-blog{
        width: 90%;
        margin: 0 auto;
    }
     /* button-2 */
    .buttons-2{
        margin: auto;
        border-radius: 10px;
        width: 60%;
        padding-bottom: 20px;

    }
    .buttons-2 button{
        display: block;
        border-radius: 7px;
        padding: 9%;
        border: none;
        font-size: 15px;
        margin-top: 20px;
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
    }
    .buttons-2 button:hover{
        background-color: #DD0000;
        color: white;
    }
    .block-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-left: 20px;
        gap: 20px;
        
    }
    .sub-blog-3{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    .sub-blog-3:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    .sub-blogs-3 img{
        width:100%;
        margin-bottom: 15px;
    }
    .blog-3{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .sub-blogs-3 button{
        padding: 6px 18px;
        border-radius: 5px;
        border: 2px solid #201f1f9c;
        font-weight: 500;
        font-size: 16px;
    }
    .sub-blogs-3 button:hover{
        background-color: #DD0000;
        color: white;
    }
    /*--------------------------------------------
                        footer
    ---------------------------------------------- */
    footer{
        width: 100%;
        height: 400px;;
        background-color: #161616;
        margin-top: 125px;
    }
    footer h2{
        color: white;
        text-align: center;
        padding-top:30px ;
        font-size: 18px;
        padding-bottom:10px ;
    }
    hr{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 1px;
    background-color: #2D2D2D;
    border: none;
    }
    .footer{
        color: #A8A8A8;
        width: 70%;
        margin: auto;
        display: grid;  
    }
    h5{
        text-align: center;  
    }
    .icon{
        width: 15%;
        margin: auto;
        display: flex;
        justify-content: space-around; 
        padding: 10px;  
    }

    .fa-facebook-square{
    font-size: 30px;
    color: #026EAA;
    }
    .fa-facebook-square:hover{
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    .fa-instagram-square{
        font-size: 30px;
        color: #941f1f;
    }
    .fa-instagram-square:hover{
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    .fa-twitter-square{
        font-size: 30px;
        color: #00A4E0;
    }
    .fa-twitter-square:hover{
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    .fa-linkedin{
        font-size: 30px;
        color: #026EAA;
    }
    .fa-linkedin:hover{
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    /*--------------------------------------------
                    footer end
    ---------------------------------------------- */
}